/* Site-specific refinements. */

@include breakpoint($large) {
  .greedy-nav > button {
    display: none !important;
  }

  .greedy-nav .visible-links {
    display: grid;
    grid-template-columns: minmax(12rem, 31%) repeat(5, max-content);
    column-gap: 1.5rem;
    align-items: center;
    width: 100%;
  }

  .masthead__menu-item--lg {
    padding-right: 0;
  }
}
