/* Site-specific refinements. */

@include breakpoint($large) {
  .greedy-nav > button {
    display: none !important;
  }

  .greedy-nav .visible-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 8%;
    width: 100%;
  }

  .greedy-nav .visible-links li {
    display: block;
  }

  .masthead__menu-item--lg {
    flex: 0 0 15.5rem;
    padding-right: 0;
  }

  .masthead__menu-item--lg a {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }
}
